<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">  
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" />
 <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script> 
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
	.header{
		height: 40px;
		background: #1E90FF;
		text-align: center;
	}
	.header strong{
		line-height: 40px;
		font-size: 1.1em;
	}
	.container ul li{
        list-style: none;
        padding: 10px 0; 
	}
	.container ul li input{
		border: none;
	}
</style>
</head>
<body>
	<div class="header"><strong>拿证预算</strong></div>
	<div class="container" ng-app="">
	<ul>
		<li>班别: <input type="text" ng-model="class"/></li>
		<li>驾照类型: <input type="text" ng-model="type"/></li>
		<li>参考套餐: <input type="text" ng-model="assemble"/></li>
		<li>练车区: <input type="text" ng-model="area"/></li>
		<li>报名价格: <input type="text" ng-model="price" /></li>
		<li>预计:{{class}}</li>
	</ul>
	</div>
<script>
	
</script>
</body>
</html>